:root {
    --skyblue-color: hsl(201, 78%, 46%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

.container {
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-template-rows: 175px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content"
    ;
    height: 100vh;
    width: 100%;
}

/* Sidebar */

.sidebar {
    grid-area: sidebar;
    background-color: var(--skyblue-color);
    display: flex;
    flex-direction: column;
    gap: 48px;
    color: white;
    padding: 32px;
}

.sidebar svg {
    fill: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: -18px;
    gap: 18px;
}

.logo svg {
    width: 60px;
}

.logo span {
    font-size: 1.6rem;
    font-weight: 700;
}

.nav svg {
    width: 24px;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 36px;
}

.nav-item span {
    font-size: 1.4rem;
    font-weight: 600;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/* Header */

.header {
    grid-area: header;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 14px -4px rgba(66, 68, 90);
}

.header svg {
    width: 24px;
}

.header img {
    width: 40px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;    
}

.header-top div:first-child {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 60%;
}

#search {
    border: transparent;
    border-radius: 12px;
    background-color: lightgray;
    width: 100%;
    height: 24px;
}

.header-top div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    width: 40%;
}

.header-top div:last-child span {
    font-weight: 600;
}

.avatar {
    border-radius: 100%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small {
    width: 40px;
    height: 40px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom div:first-child {
    display: flex;
    align-items: center;
    gap: 24px;
}

.big {
    height: 64px;
    width: 64px;
}

.user-greeting {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 600;

}

.greeting {
    font-size: 0.9rem;
}

.username {
    font-size: 1.5rem;
}

.header-bottom div:last-child {
    display: flex;
    gap: 20px;
}

.header-bottom button {
    background-color: var(--skyblue-color);
    color: white;
    font-size: 1.2rem;
    padding: 8px 30px;
    border: transparent;
    border-radius: 20px;
}

.main-content {
    grid-area: content;
    background-color: green;
}